*{
	box-sizing: border-box;/*To ensure contents fits into the page perfectly*/
	margin: 0;
	padding: 0;
}

/*General styling of the html body */
body{	
	overflow: auto;
	font-family: sans-serif;
}

/*Header Section Styling*/
header .container{
	padding:20px 6% ;
	box-shadow: 0px 4px 6px rgba(73, 73, 73, 0.21);
}

header .container .logo{
	display: inline-block;
}

header .container .logo p{
	font-size: 2em;
	color: #7e33ff;
	font-weight: 700;
}

header .container .navbar{
	display: inline-block;
	float: right;
}

header .container .nav{
	display: none;
}

header .container .navbar li {
	display: inline-block;	
}

header .container .navbar li a{
	text-decoration: none;
	color: #7e33ff;
	margin-right: 30px;
	padding: 10px 0;
}

header .container .navbar .activepage a{
	border-bottom: 1px solid #7e33ff;
}

header .container .navbar li a:hover{
	color: #4100b3;
}

header .container .hamburger{
	display: none;
}

/*Feature Styling*/
#feature{
	margin: 50px 4%;
}

#feature .container .section-left{
	display: inline-block;
	margin-top: 100px;
	margin-bottom: 30px;
	width: 38%;
}

#feature .container .section-left h3{
	font-size: 2.5em;
}

#feature .container .section-right{
	display: inline-block;
	width: 40%;	
	float: right;
}

#feature .container .section-right img{
	width: 96%;
	margin: auto;
}

#feature .img-section .item,
#feature .img-section .item2{
	width: 260px;
	background-color:#FBF9FF;
	box-shadow: 0px 4px 6px rgba(73, 73, 73, 0.21);
	border-radius: 10px;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

#feature .img-section .item .icon,
#feature .img-section .item2 .icon{
	background: linear-gradient(180deg, #9e64ff 0%, #350387 100%);
	border-radius: 50%;
	display: inline-block;
	padding: 2px;
	width: 54px;
}

#feature .img-section .item .icon-info,
#feature .img-section .item2 .icon-info{
	display: inline-block;
	margin-left: 5px;
	width: 140px;
}

#feature .img-section .item .icon-info h3,
#feature .img-section .item2 .icon-info h3{
	font-size: 0.9em;
	margin-bottom: 10px;
}

#feature .img-section .item .icon-info p,
#feature .img-section .item2 .icon-info p{
	font-size: 0.7em;
}

/*Testimonial Header Styling*/
#testimonials .container{
	margin: 0 4%;
	padding: 50px 0;
}

#testimonials .container h3{
	text-align: center;
	font-size: 2.3em;
}

/* Slideshow container */
#testimonials .slideshow-container {
  max-width: 80%;
  position: relative;
  margin: 70px auto;
  background-color:#FBF9FF;
  box-shadow: 0px 4px 6px rgba(73, 73, 73, 0.21);
}

#testimonials .slideshow-container .section-img{
	margin: 20px 45%;
}

#testimonials .slideshow-container .section-img img{	
	border-radius: 50%;
	margin-top: 20px;
	animation: movingTopToBottom 3s linear;*/
}

#testimonials .slideshow-container .text {
	font-size: 0.9em;
	width: 240px;
	margin: auto;
	animation: textAnim 3s steps(40, end);
}

#testimonials .slideshow-container .status-bar {
	margin: auto 45%;
}

#testimonials .slideshow-container .status-bar  .bar{
	height: 15px;
	width: 15px;
	margin: 20px 2px;
	background-color: #bbb;
	border-radius:50% ;
	display: inline-block;
}

#testimonials .slideshow-container .status-bar  .active-bar{
	background-color: #717171;
}

#testimonials .dot {	
  height: 15px;
  width: 15px;
  margin: 20px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease-out;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
	  -webkit-animation-name: fade;
	  -webkit-animation-duration: 1.5s;
	  animation-name: fade;
	  animation-duration: 2.5s;
	  animation-direction: normal;
}

/*Text Animation*/
.textAnim{
	-webkit-animation-name: textAnim;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-duration: 3s;
	 animation-name:textAnim;
	 animation-duration: 2.5s;
	 animation-fill-mode: forwards;	
}

@-webkit-keyframes fade {	
	  from {opacity: .4} 
	  to {opacity: 1}
}

@keyframes fade {
	  from {opacity: .4} 
	  to {opacity: 1}
}

@keyframes textAnim {
	  0%{
		  height: 0%;
	  }
	  100%{
		  border: none;
		  width: 100%;
		  height: 100%
	  }
}

@keyframes movingTopToBottom {
	  from {
		  margin-right: -100%;
		  width:40%;
	  } 
	  to {
		  margin-right: 100%;
		  width: 100%;
		}
}


/*Action Section*/
#action .container{
	width: 100%;
	padding: 50px 7%;
	background: rgba(111, 59, 198, 0.95);
}

#action .container .call{
	display: inline-block;	
}

#action .container .call h3{
	font-size: 2.1em;
	color: #fff;
	font-weight: 400;
	margin-bottom: 20px;
}

#action .container .call p{
	font-size: 0.9em;
	color: #fff;
	width: 80%;
	line-height: 20px;
}

#action .container .playstore{
	display: inline-block;
	float: right;
}

#action .container .playstore .img-responsive1{
	position: relative;
	top:11px;	
}

footer .container{
	margin-top: 30px;
	padding: 0 2%;
}

footer .container .section-left{
	display: inline-block;
	margin-bottom: 20px;
	position:relative;
	top: -40px; 
}

footer .container .section-center{
	margin-left: 10%;
	display: inline-block;
	margin-bottom: 20px;
}

footer .container .section-center2{
	margin-left: 10%;
	display: inline-block;
	margin-bottom: 20px;
	position: relative;
	top: -52px;
}

footer .container .section-right{
	display: inline-block;
	float: right;
	margin-bottom: 20px;
}

footer .container .section-left h3{
	font-size: 1.6em;
	color: #7e33ff;
	font-weight: 700;
	margin-bottom: 20px;
}

footer .container .section-left p{
	width: 220px;
	font-size: 0.9em;
	line-height: 23px;
}

footer .container .section-center h3,
footer .container .section-center2 h3{
	margin-bottom: 5px;
	font-size: 1.2em;
}

footer .container .section-center .links li,
footer .container .section-center2 .links li{
	list-style: none;
	padding: 5px 0;
}

footer .container .section-center .links li a,
footer .container .section-center2 .links li a{
	text-decoration: none;	
	color: #000;
	font-size: 0.9em;
}

footer .container .section-right h3{
	margin-bottom: 5px;
	font-size: 1.2em;
}

footer .container .section-right p{
	font-size: 0.9em;
	margin-bottom: 20px;
}

footer .container .section-right .inputarea input{
	margin-top: 10px;
	padding:10px;
	line-height:14px;
	border:1px solid #7e33ff;
	outline:1px solid #7e33ff;
}

footer .container .section-right .inputarea button{
	padding: 11px;
	margin-left:-3px;
	background-color:#7e33ff;
	color: #fff;
	outline:none;
	border: 1px solid #7e33ff;
}

footer .container .copyright p{
	text-align:center;
	font-size:0.9em;
	padding: 10px;
}

/*Responsive Design for Mobile*/
@media only screen and (min-width: 701px) and (max-width: 940px){
	#feature .img-section .item,
	#feature .img-section .item2{		
		display: block;
		margin:10px auto;
	}
	
	#testimonials .slideshow-container .status-bar {
		margin: auto 40%;
	}
	
	#action .container{
		padding: 50px 3%;
	}
	
	#action .container .call{
		display: inline-block;
		width: 60%;
	}
	#action .container .call p{
		width: 80%;
		line-height: 20px;
	}
	#action .container .playstore{
		width: 40%;
	}
	
	#action .container .playstore .img-responsive1{
		left: -12px;
	}
}

/*Responsive Design for Mobile*/
@media only screen and (min-width: 200px) and (max-width: 700px){ 
	#feature .container .section-left{
		display: block;
		margin-top: 100px;
		margin-bottom: 30px;
		width: 100%;
	}
	
	#feature .container .section-left h3{
		text-align: center;
	}

	#feature .container .section-right{
		display: block;
		width: 90%;
		margin: 50px auto;	
		float: none;		
	}

	#feature .container .section-right img{
		width: 100%;
		margin: auto;
	}
	
	#feature .img-section .item,
	#feature .img-section .item2{	
		display: block;
		margin:10px auto;
	}

	#testimonials .slideshow-container .section-img{
		margin: 20px 35%;
	}
	
	#testimonials .slideshow-container .status-bar {
		margin: auto 35%;
	}
	
	#action .container .call{
		display: block;	
	}
	
	#action .container .call h3,
	#action .container .call p{
		width: 100%;
		text-align: center;
	}
	
	#action .container .playstore{
		display: block;
		float: none;
		margin: 20px auto;
		width: 50%;
	}
	
	#action .container .playstore .img-responsive1{
		top:0px;
		left:-12px;
	}
}

/*Responsive Design for Tabloid and Big Screens*/
@media only screen and (min-width: 941px) and (max-width: 1090px){
	#action .container .call{
		display: inline-block;
		width: 50%;
	}
	#action .container .call p{
		width: 80%;
		line-height: 20px;
	}
	#action .container .playstore{
		width: 50%;
	}
}


/*Header and Footer Responsive Design for Mobile and Tablet*/
@media only screen and (min-width: 200px) and (max-width: 940px){
	header .container .hamburger{
		display: inline-block;
		float: right;
	}
	
	header .container .hamburger img{
		padding: 10px;
		border: 1px solid #000;
	}
	
	header .container .hamburger img:active,
	header .container .hamburger img:hover{
		border:1px solid #7e33ff;
	}
	
	header .container .navbar{
		display: none;
	}
	
	header .container .nav {
		height: 250px;
		width: 100%;
		position: absolute;
		z-index: 1;
		top: 60px;
		left: 0;
		background-color: #fff;
		overflow-x: hidden;
		transition: 0.5s;
	}

	header .container .nav li a {
		padding: 8px;
		text-decoration: none;
		font-size: 1.2em;
		color: #7e33ff;
		display: block;
		transition: 0.3s;
		text-align: center;
	}

	#header .container .nav a:hover {
		color: #4100b3;
	}

	#closebtn{
		position: absolute;
		top: 0px;
		right: 75px;
		font-size: 26px;
		color: #7e33ff;
		text-decoration: none;
	}

	#feature {
		transition: margin-top .5s;
	}
	
	#navlink{
		transition: display .8s;
	}
	
	footer .container{
		padding: 0;
	}

	footer .container .section-left{
		display: block;
		top: 0px; 
	}

	footer .container .section-center{
		margin-left: 0;
		display: block;
	}

	footer .container .section-center2{
		margin-left: 0%;
		display: block;
		top: 0px;
	}

	footer .container .section-right{
		display:block;
		float: none;
	}

	footer .container .section-left h3{
		text-align: center;
	}

	footer .container .section-left p{
		width: 100%;
		font-size: 0.9em;
		line-height: 23px;
		text-align:center;
	}

	footer .container .section-center h3,
	footer .container .section-center2 h3{
		text-align:center;
	}

	footer .container .section-center .links li,
	footer .container .section-center2 .links li{
		text-align:center;
	}

	footer .container .section-center .links li a,
	footer .container .section-center2 .links li a{
		text-align: center;
	}

	footer .container .section-right h3{
		text-align:center;
	}

	footer .container .section-right p{
		text-align:center;
	}

	footer .container .section-right .inputarea{
		margin-top: 10px;
		margin:10px auto;
		width:90%;
		display:block;
	}	
}
