*{
	box-sizing: border-box;/*To ensure contents fits into the page perfectly*/
	margin: 0;
	padding: 0;
}

/*General styling of the html body */
body{	
	overflow: auto;
	font-family: sans-serif;
}

/*Feature Styling*/
#feature{
	margin: 50px 4%;
}

#feature .container .section-left{
	display: inline-block;
	margin-top: 100px;
	margin-bottom: 30px;
	width: 38%;
}

#feature .container .section-left h3{
	font-size: 2.5em;
}

#feature .container .section-right{
	display: inline-block;
	width: 40%;	
	float: right;
}

#feature .container .section-right img{
	width: 96%;
	margin: auto;
}

#feature .img-section .item,
#feature .img-section .item2{
	width: 260px;
	background-color:#FBF9FF;
	box-shadow: 0px 4px 6px rgba(73, 73, 73, 0.21);
	border-radius: 10px;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

#feature .img-section .item .icon,
#feature .img-section .item2 .icon{
	background: linear-gradient(180deg, #9e64ff 0%, #350387 100%);
	border-radius: 50%;
	display: inline-block;
	padding: 2px;
	width: 54px;
}

#feature .img-section .item .icon-info,
#feature .img-section .item2 .icon-info{
	display: inline-block;
	margin-left: 5px;
	width: 140px;
}

#feature .img-section .item .icon-info h3,
#feature .img-section .item2 .icon-info h3{
	font-size: 0.9em;
	margin-bottom: 10px;
}

#feature .img-section .item .icon-info p,
#feature .img-section .item2 .icon-info p{
	font-size: 0.7em;
}

/*Testimonial Header Styling*/
#testimonials .container{
	margin: 0 4%;
	padding: 50px 0;
}

#testimonials .container h3{
	text-align: center;
	font-size: 2.3em;
}

/* Slideshow container */
#testimonials .slideshow-container {
  max-width: 80%;
  position: relative;
  margin: 70px auto;
  background-color:#FBF9FF;
  box-shadow: 0px 4px 6px rgba(73, 73, 73, 0.21);
}

#testimonials .slideshow-container .section-img{
	margin: 20px 45%;
}

#testimonials .slideshow-container .section-img img{	
	border-radius: 50%;
	margin-top: 20px;
}

#testimonials .slideshow-container .text {
	font-size: 0.9em;
	width: 240px;
	margin: auto;
}

#testimonials .slideshow-container .status-bar {
	margin: auto 45%;
}

#testimonials .slideshow-container .status-bar  .bar{
	height: 15px;
	width: 15px;
	margin: 20px 2px;
	background-color: #bbb;
	border-radius:50% ;
	display: inline-block;
}

#testimonials .slideshow-container .status-bar  .active-bar{
	background-color: #717171;
}

#testimonials .dot {	
  height: 15px;
  width: 15px;
  margin: 20px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease-out;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
	  -webkit-animation-name: fade;
	  -webkit-animation-duration: 1.5s;
	  animation-name: fade;
	  animation-duration: 2.5s;
	  animation-direction: normal;
}

@-webkit-keyframes fade {
	  from {opacity: .4} 
	  to {opacity: 1}
}

@keyframes fade {
	  from {opacity: .4} 
	  to {opacity: 1}
}


/*Action Section*/
#action .container{
	width: 100%;
	padding: 50px 7%;
	background: rgba(111, 59, 198, 0.95);
}

#action .container .call{
	display: inline-block;	
}

#action .container .call h3{
	font-size: 2.1em;
	color: #fff;
	font-weight: 400;
	margin-bottom: 20px;
}

#action .container .call p{
	font-size: 0.9em;
	color: #fff;
	width: 80%;
	line-height: 20px;
}

#action .container .playstore{
	display: inline-block;
	float: right;
}

#action .container .playstore .img-responsive1{
	position: relative;
	top:11px;	
}

/*Responsive Design for Mobile*/
@media only screen and (min-width: 701px) and (max-width: 940px){
	#feature .img-section .item,
	#feature .img-section .item2{		
		display: block;
		margin:10px auto;
	}
	
	#testimonials .slideshow-container .status-bar {
		margin: auto 40%;
	}
	
	#action .container{
		padding: 50px 3%;
	}
	
	#action .container .call{
		display: inline-block;
		width: 60%;
	}
	#action .container .call p{
		width: 80%;
		line-height: 20px;
	}
	#action .container .playstore{
		width: 40%;
	}
	
	#action .container .playstore .img-responsive1{
		left: -12px;
	}
}

/*Responsive Design for Mobile*/
@media only screen and (min-width: 200px) and (max-width: 700px){ 
	#feature .container .section-left{
		display: block;
		margin: 20px auto;		
		width:100%;
	}

	#feature .container .section-left h3{
		text-align: center;
	}

	#feature .container .section-right{
		display: block;
		width: 90%;
		margin: 50px auto;	
		float: none;		
	}

	#feature .container .section-right img{
		width: 100%;
		margin: auto;
	}
	
	#feature .img-section .item,
	#feature .img-section .item2{	
		display: block;
		margin:10px auto;
	}

	#testimonials .slideshow-container .section-img{
		margin: 20px 35%;
	}
	
	#testimonials .slideshow-container .status-bar {
		margin: auto 35%;
	}
	
	#action .container .call{
		display: block;	
	}
	
	#action .container .call h3,
	#action .container .call p{
		width: 100%;
		text-align: center;
	}
	
	#action .container .playstore{
		display: block;
		float: none;
		margin: 20px auto;
		width: 50%;
	}
	
	#action .container .playstore .img-responsive1{
		top:0px;
		left:-12px;
	}
}

/*Responsive Design for Tabloid and Big Screens*/
@media only screen and (min-width: 941px) and (max-width: 1090px){
	#action .container .call{
		display: inline-block;
		width: 50%;
	}
	#action .container .call p{
		width: 80%;
		line-height: 20px;
	}
	#action .container .playstore{
		width: 50%;
	}
}