html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
:root{
    
        --animate-delay: 0.5s;
      
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.nav-title{
    color: #6C19F6;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
}
#nav-link{
    color: #6C19F6;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

}
.nav-link>hr{
    border: none;
}
.active>hr{
    border-top: 2px solid #6C19F6;
    margin-top: 0;
}




#container1{
    margin-top: 7em;
    margin-bottom: 7em;
}



/* Services Section */
.services-header>h1{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    padding: 3rem;
 
}
.services-header>p{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #807E7E;
    width: 60%;
    margin: 2.5rem auto;
}
.cards{
    margin: 6rem auto;
}
.services-card >h3{
    margin: 0 auto;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #6D1EF0;
}
.services-card>p{
    font-size: 18px;
    line-height: 21px;
    color: #807E7E;
}





















/* footer start here */
.footer-title{
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: #6C19F6;

}
.footer-list-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.list-unstyled>li{
    margin: 1rem 0;
}
.list-unstyled>li>a{
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px; 
    color: #423C3C;
}
.btn-outline-secondary{
    width: 83px;
    height: 56px;
    background: #6C19F6;
    color: white;
}
#form-control{
    max-width: 312px;
    height: 56px;
    background: #FFF9F9;
    border: 2px solid #6C19F6;
    box-sizing: border-box;
}